<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBWC4n3yub9JNwWBlk8-chcnwAhwtwsL28</string>
	<key>GCM_SENDER_ID</key>
	<string>540925219252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vehiclerecog</string>
	<key>PROJECT_ID</key>
	<string>vehiclerecog-3d604</string>
	<key>STORAGE_BUCKET</key>
	<string>vehiclerecog-3d604.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540925219252:ios:9259bd885f0cf26b52e2e1</string>
</dict>
</plist>